
:root{
    --mainfont:'Raleway', sans-serif;
    --subfont:'Open Sans', sans-serif;
    --brandcol:#e84545;
}




*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* ======common css end========== */
.rale-13{
    font-family: var(--mainfont);
    font-size: 13px;
    text-transform: capitalize;
}
.open-reg-14{
    font-family: var(--subfont);
    font-size: 14px;
    text-transform: capitalize;
}
.text-upper{
    text-transform: uppercase;
}

.text-cap{
    text-transform: capitalize;
}
/* ========== common css ======== */

nav{
    height: 100px;
    z-index: 1;
    position: absolute;
    top:-00%;
    left:0px;
}
nav .navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
nav .navbar .logo{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}
nav .navbar .logo img{
    width: 100%;
    line-height: 100px;
}
nav .navbar .nav_item{
    width: 600px;
    height: 100px;
}
nav .navbar .nav_item ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .navbar .nav_item ul li{

}
nav .navbar .nav_item ul li a{
  color: #ffffffbf;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}
nav .navbar .nav_item ul li a:hover{
    color: var(--brandcol);
  }

  /* ============banner start============= */
  #banner_bg{
      width: 100%;
      height: 700px;
      background-image: url(../images/banner.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: -100px;
      left: 0px;
      z-index: -1;
      position: relative;
  }
  #banner_bg .overlay{
      background:rgba(43, 46, 74, 0.952);
      width: 100%;
      height: 100%;
  }
  #banner_bg .overlay .banner{
    text-align: center;
}
#banner_bg .overlay .banner h1{
    padding: 300px 0px 20px 0px;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
#banner_bg .overlay .banner p{
    font-size: 14px;
    color: white;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 80px;
}
#banner_bg .overlay .banner a{
    margin-top: 70px;
    padding: 13px 20px;
    background-color: #cd32ab;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#banner_bg .overlay .banner a:hover{
    background-color: var(--brandcol);
}
  /* ============banner end============= */
  /* ============service start============= */
#service{
    height: 300px;
    height: 100%;
}
#service .service{
    display: flex;
    flex-wrap: wrap;
}
#service .service .service_item{
    width: 370px;
    height: 100%;
    text-align: center;
}
#service .service .service_item h3{
   font-size: 16px;
  
   font-weight: 700px;
   text-transform: uppercase;
   padding: 20px 0px;
}
#service .service .service_item p{
   font-size: 13px;
   font-family: var(--mainfont) ;
   margin-bottom: 100px;
   line-height: 22px;
}
#service .service .mid-item{
    margin: 0px 30px;
}
  /* ============service end============= */

  /* ============hover start============= */
  #hover{
   
  }
  #hover .content{
    width: 1920px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  #hover .hover_item {
	width: 24.5%;
	height: 350px;
	position: relative;
}
#hover .hover_item .overlay{
    width: 0%;
    height: 100%;
    background-color: rgba(248, 10, 129, 0.76);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#hover .hover_item:hover .overlay{
    width: 100%;
    height: 100%;
}
  /* ============hover end============= */

  /* ============blog start============= */
  #blog{
    margin: 50px 0px;
  }
  #blog .blog_items{
      display: flex;
}
#blog .blog_items .items{
      margin-left: 30px;
}
#blog .blog_items .items:last-child{
   
}
#blog .blog_items .items h4{
      font-size: 22px;
      font-family:var(--mainfont);
      text-transform: capitalize;
      margin: 10px 0px;
}
#blog .blog_items .items h5{
    font-size: 19px;
    font-family:var(--mainfont);
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--brandcol);
}
#blog .blog_items .items p{
    font-size: 15px;
    font-family:var(--mainfont);
    margin: 10px 0px;
    line-height: 22px;
}
#blog .blog_items .items .social_icon{
    display: flex;
}
#blog .blog_items .items .social_icon .icon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid #ddd;
    position: relative;
}

#blog .blog_items .items .social_icon .icon a {

    color:#3a3a3a; ;
}
#blog .blog_items .items .social_icon .icon a i{
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all linear 0.4s;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      -webkit-transition: all linear 0.4s;
      -moz-transition: all linear 0.4s;
      -ms-transition: all linear 0.4s;
      -o-transition: all linear 0.4s;
}


#blog .blog_items .items .social_icon .icon:hover a i{
    color: turquoise;
}
  /* ============blog end============= */
  /* ============feedback start============= */
#feedback{
      height: 500px;
    display: flex;
  }
#feedback .img_sec{
      width: 50%;
      height: 100%;
}
#feedback .comments_sec{
    width: 50%;
    font-family: 'Cardo', serif;
    background: #411b31;
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding: 100px 100px;
}
#feedback .comments_sec p{
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}
  /* ============feedback end============= */
  /* ============down load start============= */
#dowonload{
height: 300px;
}
#dowonload .container{
    text-align: center;
}
#dowonload .container h3{
    font-size: 35px;
    font-family: var(--mainfont);
    margin-top: 100px;
    font-family: var(--mainfont);
    font-weight: 400px;
}
#dowonload .container h5{
    font-size: 17px;
    font-family: var(--mainfont);
    padding: 10px 0px;
    text-transform: uppercase;
    padding-bottom: 50px;
}
#dowonload .container a{
    font-size: 17px;
    font-family: var(--mainfont);
    margin-bottom: 40px;
    padding: 15px 50px;
    text-transform: uppercase;
    color: #fff;
    background: #565658;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#dowonload .container a:hover{
    background: var(--brandcol);
}
  /* ============down load end============= */